@charset "utf-8";

@font-face {
  font-family: 'PretendardGOV-Black';
  src: url('../font/PretendardGOV-Black.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'PretendardGOV-Bold';
  src: url('../font/PretendardGOV-Bold.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'PretendardGOV-Medium';
  src: url('../font/PretendardGOV-Medium.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'PretendardGOV-ExtraLight';
  src: url('../font/PretendardGOV-ExtraLight.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('../font/GmarketSansTTFBold.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('../font/GmarketSansTTFLight.ttf') format('woff');

  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('../font/GmarketSansTTFMedium.ttf') format('woff');

  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'PretendardGOV-Medium';
}

html,
body {
  width: 100%;
  height: 100%;
  /* font-size: 10px; */
  box-sizing: border-box;
  color: #333;
  font-family: 'PretendardGOV-Medium';
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

/*특정 부분 스크롤바 없애기*/

.box {
  -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
  display: none;
}


html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #f8f8f8;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.icon_img {
  width: 30px;
  height: auto;
}

.main-warp {
  width: 100vw;
  height: calc(100% - 70px);
  position: relative;
  
}

.main-warp h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}


.nav {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #495EA0;
}


.nav .home {
  font-family: 'PretendardGOV-Bold';
  font-size: 1.8rem;
  color: #f8f8f8;

}

.nav ul li {
  display: inline-block;
  margin-left: 3rem;

}

.nav ul li a {
  font-size: 1.3rem;
  font-family: 'PretendardGOV-Medium';
  color: #f8f8f8;

}


.btn {
  display: grid;
  place-items: center;
  background: #e1edfa;
  padding: 1.4em;
  border-radius: 0.5rem;
  
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}


.sidebar {
  height: calc(100% - 39px);
  padding: 1rem;
  overflow-y: scroll;
 position: relative;

}
.sidebar::after{
  content: '';
  background: url(../img/logo.png)no-repeat;
  width: 200px;
  height: 30px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 기본 details-marker를 안보이도록 처리 */
details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  font-size: 0px;
}

.main-wrap summary {
  font-family: 'GmarketSansTTFMedium';

}

.main-area {
  padding: 1rem 0;
  font-family: 'PretendardGOV-Medium';
  font-size: 1.3rem;
}

.button-area button{
  background-color: #efefef;
  border-radius: 0.5rem;
}

.admin-wrap h1{
  font-size: 1.8rem;
  font-family: 'PretendardGOV-Bold';
  color: #333;
}
.admin-area{
  width: 100%;
  
}

.admin-area-box{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #f8f8f8;
}
.admin-area p{
  font-family: 'PretendardGOV-Bold';
  font-size: 1.5rem;
  color: #333;

}

.table-section {
  height: calc(100% - 150px);
  overflow-y: scroll;
  word-break: normal;
  
}

.file-data-list {
  width: 100%;
  border-collapse: collapse;
}
.file-data-list tr{
  background-color: white;
  width: 100px !important;
}
.file-data-list th, .file-data-list td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.file-data-list th {
  background-color: #f2f2f2;
}

.join{
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  padding: 120px 0;
}

.join-wrap{
  width: 30%;
  height: 30%;
}

.main-warp{
  position: relative;
}

.rightSideBar {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 20%;
  height: 50%;
  z-index: 111111;
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.rightSideBar table{
  border-bottom: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.rightSideBar table th{
  background-color: #e1f0fa;
  text-align: left;
  color: #333;
  padding: 0.5rem ;
  font-size: 0.8rem;
  font-weight: 600;
  border-top: 1px solid #c9c9c9;
}
.rightSideBar table td{
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  padding: 0.5rem ;
  font-size: 0.8rem;
  
}

.chart-area{
  width: 100%;
  height: 100%;
}
.chart-box{
  width: 100%;
  height: 155px;
}
.chart-img{
  width: 100%;
  height:100%;
}

.chart-img p{
  font-size: 1.2rem;
  font-weight: 600;
}

.chart-img img{
  width: 100%;
  object-fit: contain;
}