<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Node Vue Web">
        <link rel="stylesheet" href="/client/resources/css/style.css">
        <link rel="stylesheet" href="/client/resources/css/grid.css">
        <link rel="stylesheet" href="/client/resources/css/common.css">
        <script src="/client/resources/js/jquery-2.1.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8cc632d6ade9739ead7a3ac1b3b94ec3"></script>
        <title>대구 공공데이터 시각</title>
    </head>

    <body>
        <div id="root"></div>
        <script src="/client/build/bundle.js"></script>
    </body>
</html>